@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Space+Grotesk:wght@500;700&display=swap");
a {
  color: green;
}

thead {
  text-transform: uppercase;
}

.top {
  background-color: #ff5733;
}

em {
  background-color: blue;
}

#the_most_important {
  background-color: gold;
  color: black;
  text-transform: uppercase;
}

h2 {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h2 + p {
  font-size: x-large;
}

tr:hover {
  background-color: darkgray;
}

tr:nth-child(2) td:nth-child(2) {
  background-color: cornflowerblue;
}

tr:nth-child(3) td:nth-child(3) {
  background-color: darkslategrey;
}

tr:nth-child(4) td:last-child {
  background-color: rgb(112, 74, 74);
}

nav li a {
  text-decoration: none;
}
nav li {
  display: inline;
}

nav li:first-child {
  text-decoration: underline;
}

::selection {
  color: #e9b824;
  background: #888377b8;
}

body a:hover {
  cursor: pointer;
}

input {
  height: 20px;
  border-color: lightgray;
}

#message {
  height: 50px;
}
* {
  font-family: Space Grotesk;
  font-weight: 700;
}
p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #d9d9d9;
}

button {
  transition: background-color 1s ease;
}

button:hover {
  background-color: #4ee1a0;
}

nav li a {
  color: #151515;
  display: inline;
}

nav li:nth-child(1) a {
  transition-property: 500ms;
}

nav li:nth-child(2) a {
  transition-duration: 1000ms;
}

nav li:nth-child(3) a {
  transition-duration: 1500ms;
}

nav li:nth-child(4) a {
  transition-duration: 2000ms;
}

nav li:nth-child(5) a {
  transition-duration: 2500ms;
}

nav li:nth-child(6) a {
  transition-duration: 3000ms;
}

nav:hover li a {
  color: green;
}

#sideInfo {
  position: relative;
  right: 10px;
}

.popup {
  position: fixed;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-content {
  background-color: rgb(106, 106, 106);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #000000;
  width: 30%;
  font-weight: bolder;
}
.popup-content p {
  color: black;
  font-size: 20px;
}
.popup-content button {
  display: block;
  background-color: #525252;
  margin: 0 auto;
}
